<h1>Bienvenue au jeu de Yams</h1>

<div>
  <%= link_to "Nouvelle Partie", new_game_path, class: "btn btn-primary" %>
  <%= link_to "Tutoriel", tutorial_games_path, class: "btn btn-secondary" %>
</div>
