<h1>Tutoriel du jeu de Yams</h1>

<p>Voici les règles du jeu :</p>
<ul>
  <li>Lancez 5 dés.</li>
  <li>Choisissez une combinaison à remplir (brelan, carré, etc.).</li>
  <li>Chaque combinaison ne peut être utilisée qu'une seule fois.</li>
  <li>Le joueur ayant le score total le plus élevé gagne.</li>
</ul>

<%= link_to "Retour à l'accueil", root_path, class: "btn btn-secondary" %>
